{% extends 'base.html' %}

{% block title %}
    Tasks
{% endblock %}

{% block content %}

    <div class="row justify-content-center">
        <div class="col-8 mt-5">
            <form action="." method="POST" id= "createTaskForm" 
            class="form-inline justify-content-center" data-url="task_list_url">
                {% csrf_token %}
                {% for field in form%}
                    <div class="mx-3">
                        {{field}}
                    </div>
                {% endfor %}

                    <button type="button" id="createTaskButton" class="btn btn-success  col-4 mx-3 mt-3" style="float:right;">
                        Create
                    </button>
        
            </form>

        </div>
    
    </div>


     <div class="row justify-content-center  mt-5">
        {% if form.task_name.errors %}
            {{form.task_name.errors}}
        {% endif %}
     </div>


    <div class="row justify-content-center  mt-4">
        <div class="col-8 mt-5" id="task-list">
            {% for task in tasks%}
                <div class= "card mb-1">
                    <div class="card-body" id="taskCard" data-id="{{task.id}}"
                    style="{% if task.completed %} text-decoration: line-through {% endif %}">
                        {{task.task_name}}
                    
                    <button type="button" class="close" style="float:right;">
                        <span aria-label="true">&times;</span>
                    </button>

                    </div>
                </div>
            {% endfor %}
        
        </div>
    </div>

{% endblock %}